
svg {
  /*background-color: white;*/
}

#svg-target {
}

body {
  /* background-color: #E8E6DA; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sim-block h1 {
  font-size: 0.8em;
}

.sim-block small {
  font-size: 0.5em;
}

.sd-tpl-simple-content {
  /* background-color: #E8E6DA; */
}

.sd-tpl-simple-footer {
  /* background-color: #E8E6DA; */
}

.blog-entry {
  padding-bottom: 40px;
}

.blow {
  top: 100%;
  position: fixed;
}

.blow-bar {
  position: fixed;
  height: 30px;
  padding: 10px;
  width: 300px;
  overflow: hidden;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

}

@media only screen and (min-width: 600px) {
  .sd-tpl-simple-content {
    padding: 0 15%;
  }

}